<section>
  <md-content layout-padding>
    <div>
      <form name="movieForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Title</label>
            <input required ng-model="movieCtrl.title">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Year</label>
            <input type="number" ng-model="movieCtrl.year" required ng-pattern="/^[0-9]{4}$/" name="year">
            <div ng-messages="movieForm.year.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un año</div>
              <div ng-message="pattern" class="my-message">Solo puede poner 4 dígitos
              </div>

            </div>
          </md-input-container>
        </div>


      <div required layout-gt-sm="row">
        <md-input-container class="md-block">
          <label>Length</label>
          <input ng-model="movieCtrl.length">

        </md-input-container>
      </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block">
            <label>Image</label>
            <input type="file"  required id="photo" ng-model="movieCtrl.image">
          </md-input-container>
        </div>



    </div>
  </md-content>
            <md-button ng-disabled="movieForm.$valid"  ng-click="movieCtrl.preSave()" class="btn1" >Save</md-button>
            <!--<md-button ng-click="movieForm.$valid && movieCtrl.save()" class="btn1" >Save</md-button>-->

        </form>
      </div>

  </md-content>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Length</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="movie in movieCtrl.movieList">
      <td>{{movie.title}}</td>
      <td>{{movie.year}}</td>
      <td>{{movie.length}}</td>
      <td><img ng-src="{{movie.image}}"></td>
    </tr>
  </tbody>
</table>



</section>
